.bottom-start{
	transform: translateY(100%);
}

.bottom-end{  /* отключение анимации */
	transform: none;
	transition: transform 1s;
}

.left-end{
	transform: none;
	transition: transform 1s;
}

.left-start{
	transform: translateX(-100vw);
}

.right-end{
	transform: none;
	transition: transform 1s;
}

.right-start{
	transform: translateX(100vw);
}

.proyv-end{
	opacity: 1;
	transition: opacity 2s;
}

.proyv-end1{
	opacity: 1;
	transition: opacity 2s 0.5s;
}

.proyv-end2{
	opacity: 1;
	transition: opacity 2s 1s;
}

.proyv-start{
	opacity: 0;
}