body{
	font-family: 'Manrope', sans-serif;
}

button{
	background-color: transparent;
	color: white;
	border: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.contaner-center{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 120px;
}

.zag-m-20{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.footer{
	background-color: #000000;
}

.vety-little-txt{
	font-size: 14px;
	color: #A3A3A3;
}

.zag{
	width: 100%;
	/* ВСЕГДА ПОМОЖЕМ С ВЫБОРОМ */
	font-family: Manrope;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	margin-top: 100px;
	margin-bottom: 70px;
}

.zag>span{
	color: #EE2E3B;
}

.socimg{
	width: 27px;
	height: 27px;
	margin-right: 5px;
}

.litle-img{
	width: 26vw;
}

.img36{
	width: 34vw;
}

.img38{
	width: 38vw;
}

.img44{
	width: 44vw;
}

.img50{
	width: 50vw;
}

.img54{
	width: 54vw;
}

.big-img{
	width: 61vw;
}

.c-img{
	width: 32vw;
}

.setka{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90vw;
	-width: 1300px;
}

.sub-zag{
	color: black;
	font-size: 24px;
	font-weight: 500;
}

.small-txt{
	color: black;
	font-size: 14px;
}

.button-klukva{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #00AAAD;
	font-size: 14px;
	border-radius: 20px;
}

.setkaitm{
	display: flex;
	align-items: stretch;
	position: relative;
	margin-bottom: 35px;
}

.list-text{
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,50%);
	padding: 7px 30px;
	white-space: nowrap;
	background-color: #E5E5E5;
}

.info-klukva{
	width: 90vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.klukva-txt{
	display: flex;
	justify-content: space-between;
	width: 900px;
}

.klukva-txt>p{
	width: 390px;
}

.consultation{
	width: 250px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-us{
	display: flex;
	width: 90%;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-item{
	display: flex;
	width: 300px;
	align-items: center;
	flex-direction: column;
}

.aboutImg{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background: #EE2E3B;
}

.aboutImg>img{
	width: 48px;
	height: 56px;
}

.about-item>p{
	text-align: center;
	font-size: 14px;
}

.slider_names{
	display: none;
}

@media (max-width: 481px){

	.slider_names{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 380px;
		margin-right: auto;
		margin-left: auto;
	}

	.pop-sl-itm{
		font-size: 14px;
		font-weight: bold;
		user-select: none;
		padding-bottom: 3px;
		border-bottom: 2px solid transparent;
		color: #CDCBCB;
		transition: 1s;
		margin-right: 15px;
		margin-bottom: 15px;
	}

	.pop-sl-itm:hover{
		cursor: pointer;
	}

	.pop-sl-itm-on{
		border-bottom: 2px solid black;
		color: black;
		cursor: pointer;
	}

	.zag{
		font-size: 30px;
		text-align: center;
	}

	.setka{
		width: 100%;
	}

	.big-img{
		width: 100%;
	}

	.list-text{
		display: none;
	}

	.setkaitm{
		position: absolute;
		opacity: 0;
		z-index: -1;
		width: 100%;
	}

	.setkaitem-on{
		position: relative;
		opacity: 1;
		z-index: 1;
	}

	.klukva-txt{
		width: 90%;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
	}

	.klukva-txt>p{
		margin-left: auto;
		margin-right: auto;
	}

	.consultation{
		display: none;
	}

	.about-us{
		justify-content: center;
	}

	.about-item{
		flex-direction: row;
		justify-content: space-between;
		width: 400px;
		margin-top: 10px;
	}

	.about-item>p{
		text-align: left;
		width: 250px;
	}
}