.window{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
	border-radius: 20px;
	transition: opacity 0.8s;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.window-on{
	z-index: 11;
	opacity: 1;
}

.window-off{
	z-index: -1;
	opacity: 0;
}

.file-loader>div{
	position: absolute;
	display: flex;
	align-items: center;
}

.file-loader>div>span{
	font-size: 9px;
	margin-left: 9px;
}

.file-loader>div>div{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 14px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #00AAAD;
}

.file-loader>input{
	opacity: 0;
}

.des-form-cont{
	width: 80%;
}

.close-window{
	position: absolute;
	top: 30px;
	right: 30px;
	width: 24px;
	height: 24px;
	background-image: url(img/windows/close.svg);
}

.close-window:hover{
	cursor: pointer;
}

.back-call-window{
	width: 760px;
	height: 460px;
}

.desing-project-window{
	width: 760px;
	height: 600px;
}

.contactus-window{
	width: 760px;
	height: 600px;
}

.desing-project-window-form{
	width: 30px;
}

.form{
	width: 280px;
}

.form>p{
	margin: 8px auto;
	font-size: 14px;
}

.pers{
	width: 280px;
	font-size: 8px;
}

.zag25{
	font-size: 25px;
	font-weight: bold;
}

.zag25>span{
	color: #EE2E3B;
}

.submbtn{
	padding: 5px 12px;
}

.text-inp{
	border: 0.5px solid #525252;
	width: 260px;
	height: 32px;
	box-sizing: border-box;
	border-radius: 10px;
	font-size: 14px;
	padding-left: 5px;
}

.text-inp:focus{
	border: 1px solid black;
}
